* {
    margin: 2%;
    background-color: #eeeeee;
}

.heading h1, .heading p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-buttons {
    display: flex;
    /* justify-content:space-between; */
    width:3px;
}

.form-columns {
    display: flex;
    flex-direction: column;
}

.drop-down-menu select {
    padding: 5%;
}

.button {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 159, 15);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    padding: 26px;
}

.submit {
    background-color: rgba(0, 255, 55, 155);
    color: black;
}

.read-status {
    min-width: 400px;
}

.read-status-button {
    padding: 10px;
    background-color: #e1e1e1;
}
.read-status-button-green {
    padding: 10px;
    background-color: rgb(0, 255, 55);
    /* background-color: black; */
}

.buttons-div {
    display: flex;
}

th, td {
    padding: 5px 45px;
    border-bottom: 2px solid #E1E1E1;
    text-align: left;
}

th {
    font-size: 110%;
}